<header>
    <img alt="Legal Innovation Lab Wales, part of the Hilary Rodham Clinton School of Law" class="lab-logo"
         src="/assets/images/LILW-SOL.png">
    <nav>
        <a href="{{ site.main-site }}">
            <i aria-hidden="true" class="fas fa-home"></i>
        </a>
        <a href="{{ site.url }}">
            <i aria-hidden="true" class="fas fa-code"></i>
        </a>
        <a href="mailto:{{ site.email }}">
            <i aria-hidden="true" class="fas fa-envelope"></i>
        </a>
        <a href="https://twitter.com/{{ site.twitter }}">
            <i aria-hidden="true" class="fab fa-twitter"></i>
        </a>
        <a href="https://www.linkedin.com/company/{{ site.linkedin }}">
            <i aria-hidden="true" class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/{{ site.github }}">
            <i aria-hidden="true" class="fab fa-github"></i>
        </a>
        <button id="theme-toggle">
            <i class="fas fa-moon light"></i>
            <i class="fas fa-sun dark"></i>
        </button>
    </nav>

    <img alt="Author: {{ page.author }}" class="author"
         src="/assets/images/team/{{ page.author | downcase }}.jpg">
    <h2 class="author">{{ page.full-name }}</h2>
    <h3 class="date">{{ page.publish-date }}, {{ page.publish-year }}</h3>

</header>